/node_modules
/public/hot
/storage/*.key
/vendor
/config/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/broadcasting.php
config/websockets.php
resources/js/bootstrap.js
config/broadcasting.php
public/js/app.js.gz
public/js/app.js

